@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
h2 {
  color: rgb(208, 208, 208);
}
h3{
  color: rgb(208, 208, 208);
}
p{
  color: rgb(112, 112, 112);
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container_grey {
 
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}
